<footer>
<!-- email signup -->
    <div class="email-signup">
        <p>Stay updated on 5th Column and the latest in cybersecurity</p>
        <input type="text" id="email-address" value="Enter email address">
        <button id="subscribe">Subscribe</button>
    </div>

<!-- links -->
    <div class="links">
        <div class="technologies-links">
            <ul>Technologies</ul>
            <ul>BOSS</ul>
            <ul>Dragnet</ul>
            <ul>Revolver</ul>
        </div>

        <div class="services-links">
            <ul>Services</ul>
            <ul>Professional Services</ul>
            <ul>Managed Services</ul>
        </div>

        <div class="subscriptions-links">
            <ul>Subscriptions</ul>
            <ul>BOSS</ul>
            <ul>Dragnet</ul>
            <ul>Revolver</ul>
        </div>

        <div class="support-links">
            <ul>Support</ul>
            <ul>Helpdesk</ul>
            <ul>FAQs</ul>
            <ul>Terms and Conditions</ul>
            <ul>Feedback</ul>
            <!-- social media icons -->
            <ul>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-twitter"></i>
            </ul>
        </div>
    
    </div>

<!-- copyright info -->
    <div class="copyright">2020 5th Column.  All Rights Reserved.  Privacy Policy.</div>
    
</footer>
